@charset "UTF-8";

@media (min-width: 1200px) {
    .container {
        width: 600px;
        height: 400px;
        display: flex;
        align-items: center;
    }

    .desktop {
        display: block;
        width: 280px;
        height: 400px;
        border-radius: 10px 0 0 10px;
        margin-right: 30px;
    }
    
    .mobile {
        display: none;
    }

    .descricao {
        width: 220px;
        margin: 0;
    }
}